<div class="container">
<img src="http://www.mxdwn.com/wp-content/uploads/2014/09/rjd2.jpg">	
<p>Why does it seem like your favorite band never comes to your town? They don't hate you, no one is inviting them.</p>
<p>You can be the one to make it happen, here's how. </p>
<ul>
	<li> Choose a band and choose a participating venue. </li>
	<li> The venue talks to the artist and sends you back details </li>
	<li> Promote your concert.  If you can get enough support your concert will happen </li>
</ul>

<button class="button"><%=link_to("Get started here", new_view_registration_path) %></button>

</div>