<body class="about-body">
	<div class="container ">
		<div class="row explanation-row">
			<ul>
				<li> Choose a band and a participating venue. </li>
				<li> The venue talks to the artist and sends you back details </li>
				<li> Promote your concert.  If you can get enough support your concert will happen </li>
			</ul>
		<%=link_to("Get started here", new_view_registration_path, class:"btn get-started-button") %>
		</div>
   </div>
</body>