<div class="container">
<h1>Constart</h1>
<p>Want your favorite artists to come to town? You can be the one to make it happen.</p>
<button type="button"><%=link_to("Find out how", about_path)%></button>
<button type="button"><%=link_to("Get started here", new_view_registration_path)%></button>
<img src="http://rockrevoltmagazine.com/wp-content/uploads/2014/09/Umphrey-McGee.jpg" height="600px">
</div>

