<%= form_tag(request_concert_path) do %>



<label for="artist">artist</label> 
<input type="text" name="artist">

<label for="date">date request</label> 
<input type="date" name="date">

<label for="city">city</label>
<input type="dropdown" name="city">

<select name="venue_id">
	<% @venues.each do |venue| %>
<option value="<%=venue.id%>"><%=venue.name%></option>
    <% end %>
</select>




<div> <%= submit_tag 'Request' %> </div>

<% end %>
