// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artist-p {
	font-size: 1.5em;
	font-weight: 700;
	border-bottom: solid 1px;
	padding: 2%;

}

.play-button, play-button:visited {
	background-color: #407DED;
	color: white;
}

.play-button:hover {
	background-color: #5f92f0;
	color: white;
}

.concert-info {
list-style-type: none;
}