// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-body {
	
	background: url('/Umphrey-Mcgee.jpg');
	background-repeat: 	no-repeat;
	background-size: 100%;
	
}

.get-started-button, .get-started-button:visited {
	background-color: #ED2658;
	color: white;

}

.get-started-button:hover {
	background-color: #f04570;
}

.home-body-text {
	background-color: rgba(1, 1, 1, 0.25)
}

.about-body {
	background: url('/rjd2 copy.jpg');
	background-repeat: 	no-repeat;
	background-size: 100%;
	height: 100%;	
	
}

.heres-how a, .heres-how a:visited{
	color: red;

}

.explanation-row {
	margin-top: 240px;
	color: #B3A7A2;
	
	font-weight: 600;
}

.bottom-row {
	margin-top: 100px;
	margin-right: 400px;
	color: white;
	font-weight: 700;

}



.about-explain {
	color: white;
	font-size: 1.2em;
}


.home-header {
	color: white;
	font-weight: 700;
}

.home-descript {
	color: #CBCCC2;
}

.button-find-out {
	background-color: #ED2658;
}

.button-find-out, .button-find-out:visited {
	color: white;
}

.button-get-started {
	background-color: #ED2658;
	
}

.button-get-started, .button-get-started:visited {
	color: white;

}

.button-get-started:hover {

}

.about-container {
	
}


.explanation {
	
}

.awaiting-approval-list {
	list-style-type: none;
}

.awaiting-approval-artist {
	font-size: 1.5em;
	border-bottom: ridge 1.8px;
	padding: 5%;
}

.accepted-artist {
	font-size: 1.5em;
	border-bottom: ridge 1.8px;
	padding: 5%;
}

.active-concert-list {
	list-style-type: none;
}

.update-button, .update-button:visited {
	background-color: #669999;
	color: white;
	font-weight: 500;
}

.request-button, .request-button:visited {
	color: white;
	font-weight: 500;
	background-color: #009933
}

.show-concert, .show-concert:visited {
	color: white;
	font-weight: 500;
	background-color: #00CC00;
}

.show-concert:hover {
	background-color: #0d0;
}

.mass-email-button {
	color: white;
	font-weight: 500;
	background-color: #FF6600;
}

.mass-email-button:hover {
	color: white;
	font-weight: 500;
	background-color: #ff7a22;
}

.request-button:hover {
	background-color: #39A739;
}

.update-button:hover {
	background-color: #85adad;

}

.awaiting-approval-pic {
	width: 350px;

}

.active-concert-pic {
	width: 350px;
}

.btn-success:visited {
	color: white;
}

.btn-danger:visited {
	color:white;
}